*, body{
    margin: 0;
    padding: 0;
}
.bg-container{
    background-color: blue;
    height: 100vh;
}
ul {
    list-style-type: none;
    background-color: aqua;
  }

p{
    background-color: azure;
    color: rgb(107, 107, 7);
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 900;
    font-size: 20px;
}
.icons{
    font-size: 50px;
}
